h1{
    font-size: 10.5vw;
    z-index: 10;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    min-width: 1px;
    font-family: "Avenir LT Std Black",Helvetica,sans-serif;
    font-weight: 800;
    line-height: 1;
}

h2{
    // font-size: 3.6vw;
    z-index: 10;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    min-width: 1px;
    font-family: "Avenir LT Std Black",Helvetica,sans-serif;
    font-weight: 800;
    line-height: 1;
}

h3{
    // font-size: 1.6vw;
    z-index: 10;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    min-width: 1px;
    font-family: "Avenir LT Std Book",Helvetica,sans-serif;
    font-weight: 800;
    line-height: 1;
}


p.info{
    font-size: 28px;
    font-family: "Avenir LT Std Book", Helvetica,sans-serif;
    
}

