* {
   margin: 0;
   padding: 0;
   border: 0;
   position: realtive;
   box-sizing: border-box;
   font-size: 1em;
   font-weight: 400;
   font-style: normal;
    /* //   // line-height: 1.5em; */
    text-align: left;
    text-transform: none;
    white-space: normal;
    word-spacing: normal;
    hyphenate-lines: 3;
    text-indent: 0;
    color: black;
    /* //   letter-spacing: 0.05em; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: white;
    overflow-x: hidden;
}
      
body {
    // 
    // /* width: 478px; */
    // min-width: 100vw;
    // margin: 0 auto;
    // display: block;
    // font-weight: 400;
    // font-style: normal;
    // font-display: swap;
    // position: relative;
    // 
    // font-family: "Avenir LT Std Medium", serif;
    // width: 100vw;

    background-color: #D8D8D8;
    overflow-x: hidden;
    min-height: 100vh;
    
}

.splash{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #D8D8D8;
    z-index: 100;
}

.splash img{
    display: block;
    margin: 40vh auto;
    height: 20vh;
    width: auto;
}

.splash.display-none{
    opacity: 0;
    z-index: -10;
    transition: all 0.5s;
}

/* input, textarea{
    margin: 0px auto;
    width: 90%;
    height: 60px;
    display: block;
    padding: 1em;
    padding-bottom: 0em;
    border-bottom: 1px solid black;
} */

.to-block{
    display: block;
}

.max-50{
    max-height: 50px;
}

.max-300{
    max-height: 300px;
}

.info-button{
    border-bottom: 3px solid black ;
    text-align: left;
    font-size: 2rem;
    color: black;
    text-decoration: none;
    padding: 0;
}

.info-button:hover{
    text-decoration: none;
}

.prod-image{
    display: block;
    margin: auto 20px;
    width: 80%;
}

#mapid { 
    // height: 80vh;
}

 .my-div-icon{
     color: red;
     width: 100px;
     font-weight: 800;
 }

ul.brands li {
 font-size: 2rem;
 color: black;
 list-style-type: none;
 font-weight: 800;
 font-family: "Avenir LT Std Black",Helvetica,sans-serif;;
}

li a{
    color: black;
}

li a:hover{
    color: black;
}

.item-btn {
    background-color: transparent;
    height: 480px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters  > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

picture {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  height: 80%;
}

picture > img {
  display: block;
  margin: 0 auto;
  z-index: 0;
  /* min-height: 100%; */
  /* width: 150%; */
  min-width: 100%;
  max-height: 100%;
}

/* [2] Transition property for smooth transformation of images */
picture > img {
  transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
picture:hover img {
  transform: scale(1.2);
} 

.bottom-text{
    margin-top: 2rem;
    position: absolute;
    height: 15%;
    bottom: 0;
    width: 100%;
    vertical-align: bottom  ;
}
.scrollable {
    max-height: 80vh;
    position: fixed;
    overflow: scroll;
    right: 0;
    z-index: 80000000000000000000000;
}
.selected-location{
    border-radius: 20px;
    color: white;
    overflow: hidden;
    // z-index: 3000000000000;
    
    /* max-height: 90vh; */
    /* overflow: scroll; */
}

/* .selected-location img{
    max-height: 30vh;
    width: auto;
} */

.selected-location button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.navigation{
    padding-right: 0px;
    padding-left: 0px;
}

@import "sass/media.scss";


#app {
    padding: 5.5rem;

    @include iphone_4_4S {
        padding: 1.5rem;
    }

    @include iphone_5_5S {
        padding: 1.5rem;
    }

    @include iphone_6_7_8{
        padding: 1.5rem;
    }

    @include iphone_6plus_7plus_8plus{
        padding: 1.5rem;
    }

    @include iphone_X{
        padding: 1.5rem;
    }

    @include iphone_11_XR{
        padding: 1.5rem;
    }
}

@import "sass/h1.scss";

.switch {
    margin: 2rem auto;
    .btn{
        padding: 0;
        margin: 0 0.5rem;
    }

    .btn {
        margin-left: 0;
    }

    .btn:nth-child(2) {
        margin-left: 1rem;
    }
    button{
        background-color: transparent;
        padding: 0;
    }
    .bold {
        font-family: "Avenir LT Std Black", Helvetica,sans-serif;
        text-decoration: underline;
    }
}

